@font-face { font-family: SushiSans; src: url('font.ttf'); font-display: swap;}
@font-face { font-family: Mohave; src: url("Mohave/static/Mohave-Regular.ttf"); font-display: swap; }

.title {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--background);
}

.title article {
    font-family: 'Mohave', sans-serif;
    position: absolute;
    left: 3%;
    top: 7%;
    height: 30vh;
}

.title > article h1 {
    font-size: 4rem;
    letter-spacing: -5%;
    font-stretch: ultra-expanded;
    height: 30vh;
    width: auto;
    margin-top: 10vh;
    font-weight: 200;
    font-family: SushiSans;
    color: var(--text);
}

.image {
    position: absolute;
    top: -4%;
    left: 75%;
}

.button {
    width: 35vw !important;
    left: 32.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh !important;
    top: 58vh !important;
}

.button svg {
    height: 4.8vh;
    width: 4.8vh;
}

.button > * {
    margin-left: 2vw;
    margin-right: 2vw;
}

.button {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    background-color: var(--background);
    border: 0.3rem solid var(--outline);
    position: absolute;
    top: 54%;
    height: 10vh;
    width: 15vw;
    color: var(--text);
    margin-top:15.4%;
}

.button > *:hover {
    cursor: pointer;
    opacity: 0.7;
}

.text {
    text-align: left;
    vertical-align: top;
    font-size: 1.6rem;
    line-height: auto;
    color: var(--text);
    padding: 2vw;
    font-family: 'Mohave', sans-serif;

}
