/* @import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap'); */
@font-face { font-family: SushiSans; src: url('font.ttf'); font-display: swap;}
@font-face { font-family: Mohave; src: url("Mohave/static/Mohave-Regular.ttf"); font-display: swap;}

.button-input {
    width: min-content;
}

.button-input h1 {
    font-size: 2.4rem;
    width: max-content;
    font-weight: 300;
}

.button-input section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-input input {
  width: 3vw !important;
  height: 3vw !important;
  font-size: 0.8rem !important;
  padding: 0.4rem !important;
  border-top: 0.3vw solid var(--outline) !important;
  border-left: 0.3vw solid var(--outline) !important;
  border-right: 0.3vw solid var(--outline) !important;
  border-bottom: 0.3vw solid var(--outline) !important;
  font-family: 'SushiSans', sans-serif !important;
  font-weight: 400 !important;
  text-align: center !important;
}

.button-input div {
    position: relative;
    width: 2.2vw;
    height: 1.7vw;
    border-left: 0.3vw solid transparent;
    border-bottom: 0.31vw solid var(--outline);
}
.button-input div,
.button-input div::before {
    display: block;
    box-sizing: border-box;
    border-right: 0.3vw solid transparent
}
.button-input div::before {
    content: "";
    position: absolute;
    width: 2vw;
    height: 2vw;
    border-left: 0.3vw solid var(--outline);
    border-top: 0.3vw solid var(--outline);
    border-bottom: 0.3vw solid transparent;
    transform: rotate(45deg) skew(10deg,10deg);
    left: -0.2vw;
    bottom: -1.3vw
}

.button-input div:hover {
    opacity: 0.7;
    cursor: pointer;
}

.arrow-right {
    transform: rotate(90deg) scale(1.3)  !important;
    margin-left: 2vw;
}

.arrow-left {
    transform: rotate(-90deg) scale(1.3)  !important;
    margin-right: 2vw;

}