@import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap');
@font-face { font-family: SushiSans; src: url('font.ttf'); } 

.container {
  padding: 0 2rem;
  font-family: 'Mohave', sans-serif;
  background-color: white;
}

.container > article {
  font-family: 'SushiSans';
  position: absolute;
  top: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 13vh;
  justify-content: space-evenly;
}

.container > article h1 {
  font-size: 4.3rem;
  height: 30vh;
  width: auto;
  margin-top: 34vh;
  font-weight: 200;
}

.image {
  position: absolute;
  top: -8%;
  left: 68%;
}

.container form {
  height: 36vh;
  margin-top: 41vh;
  font-family: 'Mohave', sans-serif;
}

.container form input[type=number]::placeholder, .container form input[type=number] {
  font-size: 2rem;
  color: black;
  letter-spacing: -5%;
  text-align: center;
}

.container input[type=number]:focus {
  outline: none;
}

.container form > article {
  height: auto;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: min-content;
  margin-top: 14vh;
}

.container form > article h1 {
  font-size: 3rem;
  font-weight: 200;
  width: max-content;
  margin: 0;
}

.container form input[type=number] {
  height: 9vh;
  width: 100%;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-width: 0.5rem;
  border-color: black;
}

.container form input[type=checkbox] {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 0.3rem solid #56CBF9;
  padding: 0.6rem;
  display: inline-block;
  position: relative;
}

.container form input[type=checkbox]:active, .container form input[type=checkbox]:checked {
  background-color: #56CBF9;
}

.container form input::placeholder {
  font-family: 'Mohave', sans-serif;

}

/* Chrome, Safari, Edge, Opera */
.container input::-webkit-outer-spin-button,
.container input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
.container input[type=number] {
-moz-appearance: textfield;
}

.button2 {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  background-color: white;
  border: 0.3rem solid #56cbf9;
  position: absolute;
  top: 85%;
  left:80%;
  height: 10vh;
  width: 15vw;
  color: black;
}

.button2:hover {
  cursor: pointer;
  opacity: 0.7;
}

.text3 {
  text-align: left;
  vertical-align: top;
  font-size: 1.6rem;
  line-height: auto;
  color: black;
  padding: 2vw;
  font-family: 'Mohave', sans-serif;
}