html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.matchtype {
  position: absolute;
  top: 43%;
  left: 20%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  row-gap: 6vh;
}

.matchtype section {
  display: flex;
  align-items: center;
  width: max-content;
}

.matchtype label {
  font-size: 1.5rem;
  margin-left: 0.5vw;
  font-weight: 500;
}

.auto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16vw;
  row-gap: 3vh;
  margin-top: 46vh !important;
}

.teleop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3vh;
  margin-top: 46vh !important;
  width: 70vw;
}

.teleop .auto-check-right {
  margin-left: 20vw;
}

.hp-input {
  margin-left: -1vw !important;
}

.auto-check {
  position: absolute;
  top: 36%;
  left: 2.9% !important;
  display: flex;
  align-items: center;
  transform: scale(1.2);
}

.auto-check label {
  font-size: 1.5rem;
  margin-left: 0.4vw;
  font-weight: 500;
  margin-top: 0.4vh;
}

.auto-check-right {
  margin-left: 16vw
}

.end-game {
  margin-left: 3.6vw;
  display: flex;
  justify-content: space-evenly;
  margin-top: -2vh;
}

.climbtype {
  top: 48%;
  left: 5%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.notes {
  width: 40vw;
  height: 40vh;
  position: absolute;
  top: 47%;
  left: 23.4%;
  color: black;
  border: 0.5rem solid #56CBF9;
  border-radius: 25px;
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Mohave";
}

.notes::placeholder {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 13vh;
}

.notes:focus {
  outline: none;
}

.scoutingform input[type=number] {
  height: 9vh;
  width: 100%;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-width: 0.5rem;
  border-color: black;
}

.scoutingform input[type=radio], .scoutingform input[type=checkbox] {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 0.3rem solid #56CBF9;
  padding: 0.6rem;
  display: inline-block;
  position: relative;
}

.scoutingform input[type=radio]:active, .scoutingform input[type=checkbox]:active, .scoutingform input[type=radio]:checked, .scoutingform input[type=checkbox]:checked {
  background-color: #56CBF9;
}

.scoutingform input::placeholder {
  font-family: 'Mohave', sans-serif;

}

/* Chrome, Safari, Edge, Opera */
.scoutingform input::-webkit-outer-spin-button,
.scoutingform input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
.scoutingform input[type=number] {
-moz-appearance: textfield;
}

.scoutingform input[type=number]::placeholder, .scoutingform input[type=number] {
  font-size: 2rem;
  color: black;
  letter-spacing: -5%;
  text-align: center;
}

.scoutingform input[type=number]:focus {
  outline: none;
}

.scoutingform article {
  height: auto;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: min-content;
  margin-top: 14vh;
}

.scoutingform article h1 {
  font-size: 3rem;
  font-weight: 200;
  width: max-content;
  margin: 0;
}