/* @import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap'); */
@font-face { font-family: SushiSans; src: url('/font.ttf'); font-display: swap;}
@font-face { font-family: Mohave; src: url("Mohave/static/Mohave-Regular.ttf"); font-display: swap;}

.title {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  overflow-x: hidden;
  overflow-y: hidden;
}

.toggle {
  height: 5vh !important;
  width: 5vh !important;
  z-index: 10 !important;
  position: absolute;
  top: 87%;
  left: 96.5%;
  color: var(--text);
}

.toggle:hover {
  opacity: 0.7;
  cursor: pointer;
}

.text1 {
  /* font-family: 'Mohave', sans-serif; */
  position: absolute;
  text-align: center;
  vertical-align: top;
  font-size: 5rem;
  letter-spacing: -5%;
  line-height: auto;
  color: var(--text);
  top: 3vh;
  left: 51.3vw;
  width: auto;
  font-family: SushiSans;
}

.text2 {
  text-align: left;
  vertical-align: top;
  font-size: 2rem;
  line-height: auto;
  color: var(--text);
  font-weight: bold;
  font-family: 'Mohave', sans-serif;
}

.button1 {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  background-color: var(--background);
  border: 0.3rem solid var(--outline);
  position: absolute;
  top:84%;
  left:76%;
  height: 12vh;
  width: 19vw;
}

.homecolorbar * {
  left: 58vw;
  top: 7vh;
}

.button1:hover, .button2:hover {
  opacity: 0.7;
  cursor: pointer;
}

.button2 {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  background-color: var(--background);
  border: 0.3rem solid var(--outline);
  position: absolute;
  top:84%;
  left:52%;
  height: 12vh;
  width: 19vw;
}

.text3 {
  text-align: left;
  vertical-align: top;
  font-size: 2rem;
  line-height: auto;
  color: var(--text);
  font-weight: bold;
  font-family: 'Mohave', sans-serif;
}

.maki7 {
  height: 67vh;
  width: 50.2vw;
  background-color: var(--background);
}