@font-face { font-family: JuneBug; src: url('font.ttf'); } 

.title {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  overflow-x: hidden;
  overflow-y: hidden;
}

.text1 {
  font-family: JuneBug;
  position: absolute;
  text-align: center;
  vertical-align: top;
  font-size: 5.5rem;
  letter-spacing: -5%;
  line-height: auto;
  color: #ffffff;
  top: 12vh;
  left: 42vw;
  width: 58vw;
}
.text2 {
  text-align: left;
  vertical-align: top;
  font-size: 1.8rem;
  line-height: auto;
  color: #ffffff;
}
.button1 {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  background-color: #4f4f4f;
  border: 0.3rem solid #56cbf9;
  position: absolute;
  top:80%;
  left:76%;
  height: 12vh;
  width: 19vw;
}

.homecolorbar * {
  left: 58vw;
  top: 7vh;
}

.button1:hover, .button2:hover {
  opacity: 0.8;
  cursor: pointer;
}
.button2 {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  background-color: #4f4f4f;
  border: 0.3rem solid #56cbf9;
  position: absolute;
  top:80%;
  left:52%;
  height: 12vh;
  width: 19vw;
}
.text3 {
  text-align: left;
  vertical-align: top;
  font-size: 1.8rem;
  line-height: auto;
  color: #ffffff;
}
.maki7 {
  height: 67vh;
  width: 50.2vw;
  background-color: #ffffff;
}